*.suo
/.vs
*.user
/src/Jackett2/src/services/*.js.map
/src/Jackett2/src/services/*.js
/src/Jackett2/src/resources/*.js.map
/src/Jackett2/src/resources/*.js
/src/Jackett2/src/resources
/src/Jackett2/bin
/src/Jackett2/obj
/src/IrcDotNet/bin
/src/IrcDotNet/obj
/src/Jackett2.Core/bin
/src/Jackett2.Core/obj
/src/Jackett2.Irc/bin
/src/Jackett2.Irc/obj
artifacts/
project.lock.json